<header>
    <nav>
        <a href="#ueber-mich">Über mich</a>
        <a href="#blog">Blog</a>
        <a href="#Start">Sport Blog</a>
        <a href="#links">Links</a>
        <a href="#kontakt">Kontakt</a>
    </nav>
</header>
<div>
    <img>
    <h2>Mein weg durch Fitness Motivation und Sport</h2>
    <p>Hier findest du meine Trainingspläne, Erfahrungen und Einblicke aus meinem sportlichen Alltag</p>
</div>
<div class="boxes-container">
    <div class="box" *ngFor="let item of personalBoxes">
        <h3>{{ item.title }}</h3>
        <p>{{ item.text }}</p>
    </div>
</div>
<section class="posts-section">
    <h2>Meine Posts</h2>
    <div class="posts-container">
        <article class="post-box" *ngFor="let post of posts">
            <h3>{{ post.title }}</h3>
            <p>{{ post.text }}</p>
        </article>
    </div>
    <button class="show-more">Mehr anzeigen</button>
</section>
<div>
    <h2>Kontakt</h2>
    <button img="">Instagram</button>
    <button img="">Tiktok</button>
    <button img="">Facebook</button>
</div>
<div>
    <p>Impressum</p>
    <p>Datenschutz</p>
    <p>Kontakinformationen</p>
    <p>Navigationen</p>
</div>